html {
  --light-colour-background: rgb(243, 244, 244);
  --light-colour-primary: rgb(43, 44, 44);
  --light-colour-secondary: rgb(248, 186, 213);
  --light-colour-tertiary: rgb(237, 35, 139);

  /* swapped */
  /* --dark-colour-background: rgb(43, 44, 44); */
  /* --dark-colour-primary: rgb(248, 186, 213); */
  /* --dark-colour-secondary: rgb(237, 35, 139); */
  /* --dark-colour-tertiary: rgb(243, 244, 244); */

  /* burnt umber: rgb(99, 81, 71) */
  /* with an additional dash of pink: rgb(159, 81, 111) */
  /* muted, i.e. mixed with burnt umber one-to-one */
  /* --dark-colour-background: rgb(50, 33, 38); */
  --dark-colour-background: rgb(23, 24, 24);
  --dark-colour-primary: rgb(207, 35, 139);
  --dark-colour-secondary: rgb(23, 24, 24);
  --dark-colour-tertiary: rgb(247, 85, 209);

  --colour-background: var(--light-colour-background);
  --colour-primary: var(--light-colour-primary);
  --colour-secondary: var(--light-colour-secondary);
  --colour-tertiary: var(--light-colour-tertiary);

}
@media (prefers-color-scheme: dark) {
  html {
    --colour-background: var(--dark-colour-background);
    --colour-primary: var(--dark-colour-primary);
    --colour-secondary: var(--dark-colour-secondary);
    --colour-tertiary: var(--dark-colour-tertiary);
  }
}

@media (prefers-color-scheme: light) {
  html {
    --colour-background: var(--light-colour-background);
    --colour-primary: var(--light-colour-primary);
    --colour-secondary: var(--light-colour-secondary);
    --colour-tertiary: var(--light-colour-tertiary);
  }
}
a {
  color: var(--colour-primary);
  margin-left: 2px;
  margin-right: 2px;
}
a:hover {
  color: var(--colour-tertiary);
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Inter UI', sans-serif;
  color: var(--colour-primary);
  background-color: var(--colour-background);
  transition: all 0.5s ease-in-out;
}
code {
  color: var(--colour-secondary);
  background-color: var(--colour-primary);
  font-family: 'Hack', monospace;
  white-space: normal;
}
.vyo-title {
  color: var(--colour-secondary);
  background-color: var(--colour-primary);
  border-radius: .4rem;
}
.vyo-title:hover {
  color: var(--colour-tertiary);
}
.vyo-no-link.vyo-title:hover {
  color: var(--colour-secondary);
}
header {
  margin-bottom: 5rem;
}
pre {
  text-align: center;
  background-color: var(--colour-background);
  border-left-color: var(--colour-secondary);
}
img {
}
li {
  margin-left: 5%;
  margin-right: 5%;
  list-style-position: outside;
}
h2 > p {
  text-align: center;
}
#archive {
  margin-top: 5rem;
}
#vyo-avatar {
  max-width: 15%;
  max-height: 15%;
}
#avatar-container {
  display: inline;
  float: none;
}
.row {
  margin-top: 2rem;
}
.vyo-left {
  text-align: left;
}
.vyo-centered {
  text-align: center;
}
.vyo-top-align {
  margin-top: 0;
}
.vyo-primary {
  color: var(--colour-primary);
}
.vyo-secondary {
  color: var(--colour-secondary);
}
.vyo-tertiary {
  color: var(--colour-tertiary);
}
.vyo-snap-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: both mandatory;
  scroll-snap-stop: always;
  padding-right : 15px;
}
@media (max-width: 768px) {
  .vyo-snap-container {
    padding-right : inherit;
  }
}
.vyo-snap-element {
  scroll-snap-align: start;
}
.vyo-spacing {
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .vyo-spacing {
    margin-left: 20%;
    margin-right: 20%;
  }
}
.vyo-post-footer {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
