html {
  --light-colour-background: rgb(243, 244, 244);
  --light-colour-primary: rgb(43, 44, 44);
  --light-colour-secondary: rgb(248, 186, 213);
  --light-colour-tertiary: rgb(237, 35, 139);

  /* swapped */
  --dark-colour-background: rgb(43, 44, 44);
  /* --dark-colour-primary: rgb(248, 186, 213); */
  /* --dark-colour-secondary: rgb(237, 35, 139); */
  /* --dark-colour-tertiary: rgb(243, 244, 244); */

  /* burnt umber: rgb(99, 81, 71) */
  /* muted, i.e. mixed with burnt umber one-to-one */
  --dark-colour-primary: rgb(173, 135, 142);
  --dark-colour-secondary: rgb(168, 58, 105);
  --dark-colour-tertiary: rgb(171, 162, 162);

  --colour-background: var(--light-colour-background);
  --colour-primary: var(--light-colour-primary);
  --colour-secondary: var(--light-colour-secondary);
  --colour-tertiary: var(--light-colour-tertiary);

}
@media (prefers-color-scheme: dark) {
  html {
    --colour-background: var(--dark-colour-background);
    --colour-primary: var(--dark-colour-primary);
    --colour-secondary: var(--dark-colour-secondary);
    --colour-tertiary: var(--dark-colour-tertiary);
  }
}

@media (prefers-color-scheme: light) {
  html {
    --colour-background: var(--light-colour-background);
    --colour-primary: var(--light-colour-primary);
    --colour-secondary: var(--light-colour-secondary);
    --colour-tertiary: var(--light-colour-tertiary);
  }
}
a {
  color: var(--colour-secondary);
  margin-left: 2px;
  margin-right: 2px;
}
a:hover {
  color: var(--colour-tertiary);
}
body {
  overflow: scroll;
  font-family: 'Inter UI', sans-serif;
  color: var(--colour-primary);
  background-color: var(--colour-background);
  transition: all 1.5s ease-in-out;
}
code {
  /* text-align: left; */
  color: var(--colour-secondary);
  background-color: var(--colour-primary);
  font-family: 'Hack', monospace;
  white-space: normal;
}
.vyo-title {
  color: var(--colour-secondary);
  background-color: var(--colour-primary);
  border-radius: .4rem;
}
.vyo-title:hover {
  color: var(--colour-tertiary);
}
.vyo-no-link.vyo-title:hover {
  color: var(--colour-secondary);
}
header {
  margin-bottom: 5rem;
}
footer {
  /* margin-top: 5rem; */
}
pre {
  text-align: center;
  background-color: var(--colour-background);
  border-left-color: var(--colour-secondary);
}
img {
}
li {
  /* text-align: left; */
  margin-left: 5%;
  margin-right: 5%;
  /* margin-left: 10rem; */
  /* margin-right: 10rem; */
  list-style-position: outside;
}
h2 > p {
  text-align: center;
}
#archive {
  margin-top: 5rem;
}
#vyo-avatar {
  /* border: 0.5px solid #37424a; */
}
@media (min-width: 20.0rem) {
  #vyo-avatar {
    /* border: 1px solid #37424a; */
  }
}
@media (min-width: 40.0rem) {
  #vyo-avatar {
    /* border: 2px solid #37424a; */
  }
}
#vyo-avatar {
  /* border-radius: 50%; */
  max-width: 15%;
  max-height: 15%;
  /* display: block; */
  /* margin: 0 auto; */
}
#avatar-container {
  display: inline;
  float: none;
}
.row {
  margin-top: 2rem;
}
.vyo-left {
  text-align: left;
}
.vyo-centered {
  text-align: center;
}
.vyo-top-align {
  margin-top: 0;
}
.vyo-primary {
  color: var(--colour-primary);
}
.vyo-secondary {
  color: var(--colour-secondary);
}
.vyo-tertiary {
  color: var(--colour-tertiary);
}
.vyo-spacing {
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .vyo-spacing {
    margin-left: 20%;
    margin-right: 20%;
  }
}
.vyo-post-footer {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
