a {
  /* color: rgb(43, 44, 44); */
  color: rgb(248, 186, 213);
  /* color: rgb(237, 35, 139); */
  margin-left: 2px;
  margin-right: 2px;
}
a:hover {
  color: rgb(237, 35, 139);
}
body {
  font-family: 'Inter UI', sans-serif;
  color: rgb(43, 44, 44);
  /* background-color: rgb(43, 44, 44); */
}
code {
  /* text-align: left; */
  color: rgb(248, 186, 213);
  background-color: rgb(43, 44, 44);
  font-family: 'Hack', monospace;
  white-space: normal;
}
.vyo-title {
  background-color: rgb(43, 44, 44);
  border-radius: .4rem;
  /* font-size: 86%; */
  /* margin: 0 .2rem; */
  /* padding: .2rem .5rem; */
}
header {
  margin-bottom: 5rem;
}
footer {
  /* margin-top: 5rem; */
}
pre {
  text-align: center;
  background-color: rgb(43, 44, 44);
  border-left-color: rgb(248, 186, 213);
}
img {
}
li {
  /* text-align: left; */
  margin-left: 5%;
  margin-right: 5%;
  /* margin-left: 10rem; */
  /* margin-right: 10rem; */
  list-style-position: outside;
}
h2 > p {
  text-align: center;
}
#archive {
  margin-top: 5rem;
}
#vyo-avatar {
  /* border: 0.5px solid #37424a; */
}
@media (min-width: 20.0rem) {
  #vyo-avatar {
    /* border: 1px solid #37424a; */
  }
}
@media (min-width: 40.0rem) {
  #vyo-avatar {
    /* border: 2px solid #37424a; */
  }
}
#vyo-avatar {
  /* border-radius: 50%; */
  max-width: 15%;
  max-height: 15%;
  /* display: block; */
  /* margin: 0 auto; */
}
#avatar-container {
  display: inline;
  float: none;
}
.row {
  margin-top: 2rem;
}
.vyo-left {
  text-align: left;
}
.vyo-centered {
  text-align: center;
}
.vyo-top-align {
  margin-top: 0;
}
.vyo-primary {
  color: rgb(43, 44, 44);
}
.vyo-secondary {
  color: rgb(248, 186, 213);
}
.vyo-tertiary {
  color: rgb(237, 35, 139);
}
.vyo-spacing {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5rem;
}
.vyo-post-footer {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
